<%- include partials/header.ejs %>

<%- include partials/mainNav.ejs %>

  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <li>Name: **** *****</li>
         <li> ID: ***** </li>
         
        <p>
         Please click following link to see more about <a href="https://www.google.com ">me</a> 
        </p>

      <img src="https://images.assetsdelivery.com/compings_v2/yupiramos/yupiramos1609/yupiramos160912725.jpg"/>
       
    </div>
  </main>
  



<%- include partials/bottomNav.ejs %>
<%- include partials/footer.ejs %>