<%- include partials/header.ejs %>

<%- include partials/mainNav.ejs %>

  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">How to <%= title %> ?</h1>
      
      <p>
         Please contact me via <a href="mailto:webmaster@example.com"> my email. </a> 
         
        </p>
      
       
    </div>
  </main>
  
<%- include partials/bottomNav.ejs %>
<%- include partials/footer.ejs %>  