<%- include partials/header.ejs %>

<%- include partials/mainNav.ejs %>

  

  <!-- Main Content -->
  
     <main class="container">
    <div class="jumbotron">
    
      <h1 class="display-4">Welcome to my <%= title %> page</h1>
      <br>
      <h2> I am practicing Web Development and I LOVE being a web developer.</h2>
      <img src="https://jpeg.org/images/jpeg2000-home.jpg" max-width=" 100%" max-height="100%"/>
 
        
      <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> 
    </div>
  </main>
  



<%- include partials/bottomNav.ejs %>
<%- include partials/footer.ejs %>





